.DS_Store
log/**/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
config/database.rb
.*.sw*
*.swp
config/phantom-dc_config.rb
.bundle
.vagrant
docker-compose.yml
private/*
.env