version: '2'
services:
  app:
    build: .
    restart: unless-stopped
    depends_on:
      - db
    env_file: .env
    environment:
      RACK_ENV: development
    ports:
      - "3001:3001"

  db:
    image: mysql:5.7
    env_file: .env
    volumes:
      - /var/lib/mysql

  delayed_jobs_worker:
    build: .
    restart: unless-stopped
    depends_on:
      - db
    env_file: .env
    environment:
      RACK_ENV: development
      LOAD_CONGRESS: "false"

    command: sh -c 'QUEUES=notifications bundle exec rake jobs:work'


  # Uncomment the following lines if you'd like the members of congress to be
  # updated from the YAML files every 15 minutes.  Otherwise you'll have to
  # manually update them via `rake phantom-dc:update_git` within the container.
  #
  #cron:
  #  build: .
  #  restart: always
  #  depends_on:
  #    - db
  #  env_file: .env
  #  volumes:
  #    - ./docker/cron/update_git:/opt/phantomdc/cron/update_git
  #  command: bash -c "env | sed 's@^@export @' >/etc/profile.d/env.sh; cp ./cron/* /etc/cron.d; cron -f"

