# ENV vars are converted to the correct type for ENV_PRIME in config/env.rb

CAPTCHA_TIMEOUT = ENV_PRIME['CAPTCHA_TIMEOUT'] || 120
DELAY_ALL_NONCAPTCHA_FILLS = ENV_PRIME['DELAY_ALL_NONCAPTCHA_FILLS'] || false
CORS_ALLOWED_DOMAINS = ENV_PRIME['CORS_ALLOWED_DOMAINS'] || %w[https://efforg.github.io]
RECORD_FILL_STATUSES = ENV_PRIME['RECORD_FILL_STATUSES'] || true
DEBUG_KEY = ENV_PRIME['DEBUG_KEY'] || "" # password needed to access sensitive info on this instance. change!

# smarty streets is needed for some rake tasks - https://smartystreets.com
SMARTY_STREETS_ID = ENV_PRIME['SMARTY_STREETS_ID'] || "" 
SMARTY_STREETS_TOKEN = ENV_PRIME['SMARTY_STREETS_TOKEN'] || ""

# For the Sentry exception tracking platform.  Leave as nil if unused.
SENTRY_DSN = ENV_PRIME['SENTRY_DSN']

SMTP_SETTINGS = {
  address: ENV_PRIME["SMTP_ADDRESS"],
  port: ENV_PRIME["SMTP_PORT"],
  user_name: ENV_PRIME["SMTP_USER"],
  password: ENV_PRIME["SMTP_PASS"],
  from: ENV_PRIME["SMTP_FROM"]
}.compact

# Communicating With Congress
unless ENV["RACK_ENV"] == "test" || ENV_PRIME["CWC_API_KEY"].nil?
  Cwc::Client.configure(
    api_key: ENV_PRIME["CWC_API_KEY"],
    host: ENV_PRIME["CWC_HOST"],
    delivery_agent: ENV_PRIME["CWC_DELIVERY_AGENT"],
    delivery_agent_ack_email: ENV_PRIME["CWC_DELIVERY_AGENT_ACK_EMAIL"],
    delivery_agent_contact_name: ENV_PRIME["CWC_DELIVERY_AGENT_CONTACT_NAME"],
    delivery_agent_contact_email: ENV_PRIME["CWC_DELIVERY_AGENT_CONTACT_EMAIL"],
    delivery_agent_contact_phone: ENV_PRIME["CWC_DELIVERY_AGENT_CONTACT_PHONE"]
  )
end

CarrierWave.configure do |config|
  config.fog_credentials = {
    provider:              ENV_PRIME['FOG_PROVIDER'] || 'Local', # AWS or Local
    local_root:            ENV_PRIME['FOG_LOCAL_ROOT'] || 'public', # Only used for Local provider
    # The following are only used for AWS provider
    aws_access_key_id:     ENV_PRIME['FOG_AWS_ACCESS_KEY_ID'] || '',
    aws_secret_access_key: ENV_PRIME['FOG_AWS_SECRET_ACCESS_KEY'] || '',
    region:                ENV_PRIME['AWS_REGION'] || 'us-west-1'
  }
  config.fog_directory = ENV_PRIME['FOG_DIRECTORY'] || ''
end

Padrino.use Rack::Cors do
  allow do
    origins CORS_ALLOWED_DOMAINS
    resource '*', :headers => :any, :methods => [:get, :post, :options]
  end
end

TIME_ZONE = ENV_PRIME['TIME_ZONE'] || "America/Los_Angeles"
